#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.backround {
  background: transparent 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid #809bbd;
  border-radius: 19px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}

.header {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.bold {
  font-weight: bolder;
}
.sun {
  color: #fbca03;
  font-size: 20px;
}

.card-title {
  font-size: 35px;
}
.card-subtitle mb-2 text-muted {
  font-size: large;
}

.cityselector:hover {
  text-emphasis-color: black;
}
.cityselector {
  border: black;
  outline: black;
  font-family: "Nunito Sans", sans-serif;
}
.container {
  font-size: 20px;
  text-align: center;
}
.invisible {
  color: rgba(255, 255, 255, 0);
}
.headercard {
  background: transparent 50%;
  border: 3px solid #809bbd;
  border-radius: 19px;
  color: #ffedcb;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  margin: auto;
}
.link {
  text-align: center;
}

.name {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
}
.search {
}

.hl {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
}
.condition {
  font-weight: 100;
}
